h1 {
	font-size: 43px;
	font-family: 'Snell';
	font-style: italic;
	font-weight: normal;
	z-index: 1;
	position: relative;
	text-shadow: 0px 0px 10px #ece0d7;
	line-height: 0.8;
	margin-bottom: 0;
}
.banner_box {
	width: 100%;
	position: relative;
	border: 1px solid #000;
	.bg_img {
		width: 100%;
		object-fit: contain;
	}
}
@keyframes face {
	0% {
		rotate: 0;
	}
	25% {
		rotate: 10deg;
	}
	75% {
		rotate: -10deg;
	}
	100% {
		rotate: 0;
	}
}
.face {
	position: absolute;
	animation: face 2s ease-in-out infinite;
	transform-origin: bottom;
}
.girl {
	left: 31%;
	top: 35%;
}
.boy {
	left: 45%;
	top: 29%;
}
