h1 {
	font-size: 43px;
	font-family: 'Snell';
	font-style: italic;
	font-weight: normal;
	z-index: 1;
	position: relative;
	text-shadow: 0px 0px 10px #ece0d7;
	line-height: 0.8;
	margin-bottom: 0;
}
.banner_box {
	width: 100%;
	position: relative;
	border: 1px solid #000;
	.bg_img {
		width: 100%;
		object-fit: contain;
	}
}
@keyframes face {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-moz-keyframes face {
	0% {
		-moz-transform: rotate(0deg);
	}
	25% {
		-moz-transform: rotate(10deg);
	}
	75% {
		-moz-transform: rotate(-10deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}
@-webkit-keyframes face {
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(10deg);
	}
	75% {
		-webkit-transform: rotate(-10deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-o-keyframes face {
	0% {
		-o-transform: rotate(0deg);
	}
	25% {
		-o-transform: rotate(10deg);
	}
	75% {
		-o-transform: rotate(-10deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}
.face {
	position: absolute;
	animation: face 2s linear infinite;
	-moz-animation: face 2s linear infinite;
	-webkit-animation: face 2s linear infinite;
	-o-animation: face 2s linear infinite;
	transform-origin: bottom;
}
.girl {
	left: 31%;
	top: 35%;
}
.boy {
	left: 45%;
	top: 29%;
}
