.gallery_box {
	:global {
		.slick-slide {
			height: 220px;
			> div {
				height: 100%;
			}
		}
	}
	.slide_item {
		height: 100%;
		padding: 5px;
		box-sizing: border-box;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border: 1px solid #90a083;
		box-sizing: border-box;
	}
}
