.money_box {
}
.money_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px;
	font-family: 'Cafe24Oneprettynight', sans-serif;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		img {
			transform-origin: bottom;
		}
	}
	img {
		width: 50%;
		margin-top: 5px;
	}
}
.money_list {
	margin-bottom: 10px;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.list_box {
	background-color: #f0e5df;
	padding: 5px 10px;
	border-radius: 5px;
	display: none;
	&.list_open {
		display: block;
	}
	.money_item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		text-align: left;
		border-bottom: 1px solid #aaa;
		padding: 5px 0;
		&:last-of-type {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}
.success {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
